/*Pradinės reikšmės*/
body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0;
	color: black;
	font-size: 10pt;
	font-family: "Trebuchet MS", sans-serif;
}
/*Viršutinis puslapio blokas*/
.pagrindinisTopBlokas {
	background-image: url('../images/voverytes_sodyba.jpeg');
	background-repeat: no-repeat;
	width: 100%;
	height: 600px;
	background-size: cover;
	background-position: right;
}
.logotipas {
	padding: 20px 0 0 40px;
}
.logotipas img {
	width: 80px;
	height: 80px;
}
.telefonas h2{
    float: right;
    text-align: center;
    align-content: center;
    font-family: 'Caveat', cursive;
    font-size: 40px;
    background-color: black;
    text-decoration-color: aqua;
    opacity: 0.8;
    text-decoration: none;
    margin: -50px 10px 0 1320px;
    padding-right: 10px;
	position: static;
}
.telefonas a {
    text-decoration: none;
    color: #CB6500;
}
.pavadinimas {
	font-size: 40px;
	font-family: 'Caveat', cursive;
	text-align: center;
	background-color: white;
	border: 1px solid black;
	border-width: inherit;
	border-right-style: groove;
	opacity: 0.3;
	text-shadow: 0 0 2px #fff;
	color: black;
	padding: 0;
	margin: 350px 0 0 0;
	width: 100%;
}
h1 {
	text-align: center;
	margin: 0;
}
.trumpasTekstas {
	text-align: center;
	font-family: 'Caveat', cursive;
	font-size: 15px;
	color: white;
	padding: -30px 0 0 0;
}
.meniu ul {
	float: right;
}
.meniu li {
	display: inline-block;
	float: center;
	margin: 8px 30px;
	list-style-type: none;
}
.meniu li a {
	display: inline-block;
	color: white;
	text-align: right;
	padding: 0 5px;
	text-decoration: inherit;
	font-size: 30px;
	font-weight: bold;
	font-family: 'Caveat', cursive;
}
/*Rezervacijos formos blokas*/
.formos_pavadinimas {
	color: #CB6500;
	font-family: 'Bangers', cursive;
    letter-spacing: 3px;
	font-size: 40px;
	text-align: center;
	background-image: url(../images/5.jpg);
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	background-position: bottom;
    padding: 0;
}
.formos_pavadinimas h3 {
    margin: 30px 0 10px;
}
.rezervacija {
	color: black;
	font-size: 18px;
	border-radius: 5px;
	padding: 10px;
	font-family: 'Courgette', cursive;
}
.rezervacija form {
    margin: 0 auto;
    width: 300px;
    padding: 0 10px 0 10px;
    border: 1px solid #CCC;
    border-radius: 3em;
    background: #FFDDBB;
}
.rezervacija input, textarea {
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
    text-align: center;
}
.rezervacija textarea {
    vertical-align: top;
}
.rezervacija textarea {
    vertical-align: top;
    height: 5em;
}

/*Paslaugų aprašymo blokas*/
.paslaugos {
	background-image: url('../images/6.jpg');
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	background-position: 0 -120px;
	background-size: 100%;
	display: flex;
	flex-wrap: nowrap;
	padding: 20px 0;
}
.paslauga {
	width: 300px;
	margin: auto;
}
.paslauga ul {
	overflow: hidden;
}
.paslauga li {
	list-style-image: url('../images/starempty.png');
	float: center;
	margin: 5px 0 10px 40px;
}
/*Puslapio "kontaktai" blokas*/
.kontaktu-blokas h1 {
	padding: inherit;
}
.kontaktu-blokas h2 {
	text-align: center;
}
.kontaktai {
	display: flex;
	align-content: center;
	max-width: 100%;
	margin: auto;
}
.kontaktu-blokas {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 550px;
	text-align: center;
    padding: 5px;
}
.kontaktu-blokas iframe {
    border: none;
    width: 100%;
    height: 400px;
}
.kontaktu-blokas p {
	display: inline-block;
	text-align: center;
	font-size: 20px;
	margin: 15px;
}
.kontaktu-blokas p.icon {
	font-size: 50px;
	margin: 0;
    color: #CB6500;
}
.kontaktu-blokas p.icon a {
    color: #CB6500;
}
/*Puslapio "apie" blokas*/
.apie {
    font-family: sans-serif;
    font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 500px;
    align-items: center;
}
.apie_pavadinimas {
	color: #CB6500;
	font-family: 'Bangers', cursive;
    letter-spacing: 3px;
	font-size: 40px;
	text-align: center;
    letter-spacing: 3px;
}
.apie-sodyba {
	display: flex;
    flex-wrap: wrap;
	max-width: 100%;
	margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.apie p {
	line-height: 180%;
}
/*Puslapio "galerija" blokas*/
.galerija {
	display: flex;
	flex-wrap: wrap;
}
.foto {
	margin: auto;
}
/*Footer blokas*/
.footeris {
	padding: 10px;
	text-align: center;
	background-color: #D6D6D6;
}
.footeris button.adminMygtukas {
    background-image: url('../images/admin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-position: left;
    background-size: 80px 26px;
    width: 85px;
    height: 30px;
    border: 2px solid;
    border-radius: 12px;
}
.prisijungimas {
    margin-bottom: 20px;
    margin-top: 10px;
}
/*Prisijungusio administratoriaus aplinkos blokas*/
.admin {
	width: 100%;
	height: 600px;
	background-size: cover;
	background-position: right;
}
.admin h3 {
    color: #CB6500;
    font-size: 50px;
    text-align: center;
}
.admin table {
    width: 100%;
    text-align: center;
}
.admin table th {
    font-size: 30px;
    border: 1px dotted blue;
    background-color: #CB6500;
}
.admin table td {
    font-size: 20px;
    border: 1px dotted blue;
}
/*Prisitaikymas prie ekrano rezoliucijos*/
@media only screen and (max-width: 500px) {
	.pavadinimas {
		font-size: 30px;
	}
    .trumpasTekstas {
         font-size: 14px;
        padding-top: 10px;
    }
    .kontaktu-blokas iframe {
        height: 250px;
    }
}
@media only screen and (max-width: 800px) {
    .paslaugos {
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 690px) {
    .kontaktai {
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 640px) {
    .meniu li {
        color: black;
        text-align: center;
        background-color: black;
        border: 1px solid black;
        border-right-style: groove;
        width: 260px;
        flex-wrap: wrap;
    }
}
